
.bar.total rect {
  fill: steelblue;
}

.bar.positive rect {
  fill: darkolivegreen;
}
.bar.negative rect {
  fill: crimson;
}

.bar line.connector {
  stroke: grey;
  stroke-dasharray: 3;
}

.bar text {
  fill: white;
  font: 12px sans-serif;
  text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
