* {
  box-sizing: border-box;
}
.download-button {
  display: none; /* is set visible as soon SVG is rendered */
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 0.8em 1em;
  font-size: 14px;
  font-family: "Karla", "Helvetica", sans-serif;
  font-weight: bold;
  background-color: #40c3fe;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
@media screen and (min-width: 500px) {
  .download-button {
    font-size: 16px;
  }
}
@media screen and (min-width: 900px) {
  .download-button {
    padding: 1em 1.5em;
    font-size: 18px;
  }
}
